<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chr.fservice.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chr.fservice.entity.Task">
        <id column="id" property="id" />
        <result column="source" property="source" />
        <result column="batchNo" property="batchNo" />
        <result column="target" property="target" />
        <result column="totalSize" property="totalSize" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="canceled" property="canceled" />
    </resultMap>

</mapper>
